<div class="presentation">
    <div class="alert alert-dismissible alert-danger">
        <strong>
            Take advantage and release with <a>50%</a> discounts on the entire store!
        </strong>
    </div>
    <div class="container">
        <!--Logo and special off-->
        <div class="row">
            <!--HotSale logo-->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" id="logo">
                <img src="static/img/logo01.png" alt="off-logo" id="logo-off">
            </div>
            <!--Special off-->
            <div class="products col-sm-12 col-md-3 col-lg-3 col-xl-3" id="product01">
                <!--Carousel product 01-->
                <div class="card mb-3">
                    <h3 class="card-header">
                        -50%
                    </h3>
                    <img style="height: 10em;" src="static/img/off/off-1.webp" alt="Card image" id="product01-img">
                    <hr>
                    <p>
                        Limited time article
                    </p>
                </div>
            </div>
            <div class="products col-sm-12 col-md-3 col-lg-3 col-xl-3" id="product02">
                <!--Carousel product 02-->
                <div class="card mb-3">
                    <h3 class="card-header">
                        -50%
                    </h3>
                    <img style="height: 10em;" src="static/img/off/off-2.webp" alt="Card image" id="product02-img">
                    <hr>
                    <p>
                        Limited time article
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <!--Off un the week-->
        <h1>
            See the new deals of the week:
        </h1>
        <div class="wk-products row">
            <!--List product 01-->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Automatic Whirlpool Washing Machine
                        </h5>
                        <h6 class="card-subtitle text-muted">
                            $370.00
                        </h6>
                    </div>
                    <img style="width: 100%; display: block;" src="static/img/products/p01.webp" alt="Card image">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            This week:
                        </li>
                        <li class="list-group-item">
                            <h6>
                                $350.99
                            </h6>
                        </li>    
                    </ul>
                </div>
            </div>
            <!--List product 02-->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Air Air Fryer Power Air 3346511 3.2 Liters
                        </h5>
                        <h6 class="card-subtitle text-muted">
                            $70.99
                        </h6>
                    </div>
                    <img style="width: 100%; display: block;" src="static/img/products/p02.webp" alt="Card image">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            This week:
                        </li>
                        <li class="list-group-item">
                            <h6>
                                $49.99
                            </h6>
                        </li>    
                    </ul>
                </div>
            </div>
            <!--List product 03-->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Tank Water Heater Cinsa CIE-10 127V 2.2KW
                        </h5>
                        <h6 class="card-subtitle text-muted">
                            $75.99
                        </h6>
                    </div>
                    <img style="width: 100%; display: block;" src="static/img/products/p03.webp" alt="Card image">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            This week:
                        </li>
                        <li class="list-group-item">
                            <h6>
                                $49.99
                            </h6>
                        </li>    
                    </ul>
                </div>
            </div>
            <!--List product 04-->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Cheerleader Children's Bike 16" White
                        </h5>
                        <h6 class="card-subtitle text-muted">
                            $30.50
                        </h6>
                    </div>
                    <img style="width: 100%; display: block;" src="static/img/products/p04.webp" alt="Card image">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            This week:
                        </li>
                        <li class="list-group-item">
                            <h6>
                                $25.00
                            </h6>
                        </li>    
                    </ul>
                </div>
            </div>
            <!--List product 05-->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Cesar Chocolate Desk sku: 354554
                        </h5>
                        <h6 class="card-subtitle text-muted">
                            $32.00
                        </h6>
                    </div>
                    <img style="width: 100%; display: block;" src="static/img/products/p05.jpg" alt="Card image">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            This week:
                        </li>
                        <li class="list-group-item">
                            <h6>
                                $28.00
                            </h6>
                        </li>    
                    </ul>
                </div>
            </div>
            <!--List product 06-->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-2">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Sangkee Wireless Bluetooth Headphones
                        </h5>
                        <h6 class="card-subtitle text-muted">
                            $16.00
                        </h6>
                    </div>
                    <img style="width: 100%; display: block;" src="static/img/products/p06.webp" alt="Card image">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            This week:
                        </li>
                        <li class="list-group-item">
                            <h6>
                                $14.30
                            </h6>
                        </li>    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>